<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
    <div id="loadOverlay" style="background-color:#FFFFFF; position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:2000;"></div>
   <meta charset="utf-8">
   <title>AutoTCGA</title>
   <link rel="stylesheet" href="{{ url_for('static',     filename='css/main.css') }}">
 </head>
 <body>
    <header>
      <div class="container">
        <h1 class="logo">AutoTCGA</h1>
        <h2 class="logo">An automatic machine learning tool for prediction of immune-evasion mechanisms in TCGA cancer samples</h2>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>            
            <li><a href="{{ url_for('tool') }}">Tool</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <p> <center>(under construction)</center> </p>
    
    {% block content %}
    {% endblock %}
    
 </body>
</html>